django==6.0.3
django-extensions
gunicorn
psycopg2-binary      
python-dotenv    
django-cors-headers 
requests        

mediapipe
opencv-python-headless 
google-cloud-aiplatform
numpy
pillow            