django==5.2
django-extensions
djangorestframework
gunicorn
psycopg2-binary      
python-dotenv    
django-cors-headers 
requests       
drf-spectacular 

mediapipe
opencv-python-headless 
google-cloud-aiplatform
numpy
pillow            