:root {
    --font-increase: 0px;

    /* Brand Colors */
    --logo-color: #e50010;
    --brand-primary: #242a54;
    --brand-secondary: #63aaca;
    --brand-secondary-dark: #7a8bbd;
    --brand-matte: rgba(36, 42, 84, 0.5);

    /* State Colors */
    --state-info: #2f80ed;
    --state-success: #27ae60;
    --state-warning: #e2b93b;
    --state-error: #eb5757;

    /*  basic colors */
    --white: #fff;
    --white2: #f4f4f4;
    --white3: #e5e5e5;
    --dark-grey: #222;
    --mid-grey: #4a4a4a;
}
