@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Montserrat:wght@300;400;500;600&family=Inter:wght@400;500&display=swap");
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-playfair: "Golos Text", sans-serif;

$font-weight-black: 700;
$font-weight-thick: 600;
$font-weight-bold: 500;
$font-weight-semibold: 400;
$font-weight-medium: 300;

$line-height: 140%;
$line-height-small: 120%;
:root {
    --font-increase: 0px;

    /* Brand Colors */
    --logo-color: #e50010;
    --brand-primary: #242a54;
    --brand-secondary: #63aaca;
    --brand-secondary-dark: #7a8bbd;
    --brand-matte: rgba(36, 42, 84, 0.5);

    /* State Colors */
    --state-info: #2f80ed;
    --state-success: #27ae60;
    --state-warning: #e2b93b;
    --state-error: #eb5757;

    /* Button Colors */
    --button-hover: #1a1f3d;
    --button-active: #0f1426;

    /* Basic colors */
    --white: #fff;
    --white2: #f4f4f4;
    --white3: #e5e5e5;
    --dark-grey: #222;
    --mid-grey: #4a4a4a;
    --grey-grey3: #6c757d;
}
